@import "tailwindcss";

.stripe-pattern {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.25),
    rgba(255, 255, 255, 0.25) 10px,
    transparent 10px,
    transparent 20px
  );
  background-size: 28px 28px;
  animation: move-stripes 1s linear infinite;
}

@keyframes move-stripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}
